@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Grand+Hotel|Source+Sans+Pro|Palanquin+Dark');

@media all and (max-width: 550px) {
    #container {
        margin: 0 auto;
    }
}

#container {
    max-width: 1000px;
    margin: 25px auto;
    padding: 25px 0;
}

h1 {
    font-family: 'Grand Hotel', cursive;
}

h3,
h4,
h5 {
    font-family: 'Palanquin Dark', sans-serif;
}

p,
li {
    font-family: 'Source Sans Pro', sans-serif;
}

.icons {
  position: relative;
}
